.card-comment{
    font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.div-img-profile {
  margin-right: 10px;
  margin-left: 5px;

  img {
    margin-top: 8px;
    height: 35px;
    width: 35px;
    border: 2.5px solid #848585;
  }
}
.card-header-comment{
    align-items: center;
}