.nav-links{
    align-content: center;
}
.div-link{
    margin-right: 20px;
    margin-top: 6px;
    .link{
        text-decoration: none;
        color: #242424;
        font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 14px;
    }
}