.section-main{
    height: 250px;
    .welcome-text{
        font-size: 80px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        margin-left: 80px;
        text-align: left;
    }
    .discover-things{
        font-size: 25px;
        margin-left: 100px;
    }
}
