.b-publish{
    margin-right: 5px;
}
.text-area-post{
    border: none;
    font-size: xxx-large;
    font-family: medium-content-title-font,Georgia,Cambria,"Times New Roman",Times,serif;
}
.button-add-comment{
    border: none;
    background: none;
    font-size: 45px;
}
.div-button-add{
    display: flex;
    justify-content: flex-end;
}