.img-author{
    .img-comment{
        height: 33px;
        margin-right: 7px;
        margin-left: 5px;
        margin-bottom: 5px;
    }
}
.b-comment{
    border: none;
    background: none;
}
.input-comment{
    height: 80px;
    border: none;
}
.b-cancel {
    border: none;
}
.buttons{
    margin-top: 20px;
}